<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Startseite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css"
          integrity="sha256-2H3fkXt6FEmrReK448mDVGKb3WW2ZZw35gI7vqHOE4Y=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          integrity="sha256-DU9iQBJ89dHP2iyusCg++0ych55DAx8QL6P8CYU64bI=" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script type="text/javascript" src="../src/navBar.js"></script>
    <script type="text/javascript" src="../src/abmelden.js"></script>
    <link rel="stylesheet" href="../css/detailseite.css">

</head>
<body>
<header>
    <!-- Navbar -->

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logolein"> <a id="logo" class="navbar-brand" Type="button" type="click">RevertIt</a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <div class="wbtn">
                    <li class="nav-item">
                        <a id="workshopBttn" class="btn btn-primary btn-info" type="click" role="button">Workshop suchen</a>
                    </li></div>
                <div class="wbtn2">
                    <li class="nav-item">
                        <a id="erstellenBttn" class="btn btn-primary btn-info" type="click" role="button">Workshop
                            erstellen</a>
                    </li></div>
                <div class="wbtn3">
                    <li class="nav-item7">
                        <i id="warenkorbIcon" class="fas fa-shopping-cart fa-3x" style="color: #F5A741; margin-top: 70%" type="click" role="button"></i>
                    </li></div>
                <div class="wbtn4" style="font-family: Arial">
                    <li class="nav-item5">
                        <i id="profilIcon" class="fas fa-user fa-3x" style="color: #F5A741" role="button"></i>
                    </li></div>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown1">
            <ul class="navbar-nav">
                <div class="wbtn5">
                    <li class="nav-item2">
                        <a id="registerBttn" class="btn btn-primary btn-info" type="click" role="button" style="font-family: Arial">Registrieren</a>
                    </li></div>
                <div class="wbtn6">
                    <li class="nav-item3">
                        <a id="anmeldenBttn" class="btn btn-primary btn-info" type="click" role="button">Anmelden</a>
                    </li></div>
                <li class = "nav-item5">
                    <div id="profilname"></div>
                </li>
                <div class="wbtn7">
                    <li class="nav-item4">
                        <a id="abmeldenBttn" class="btn btn primary btn-info" type="click" role="button">Abmelden</a>
                    </li></div>
            </ul>
        </div>
    </div>
    </nav>
</header>
<h1>hosen upcycling</h1>
<div class="parent">

    <div class="div1"><img src="Bilder/hosen%20upcycling.jpg" height="449" width="785"/></div>
    <div class="div2">
        <p>nächster verfügbarer Termin:<br>Montag 16.07.2021</p>
    </div>
    <div class="div3"> <button>Termin auswählen</button></div>
    <div class="div4"> <button>Eintrag bearbeiten</button></div>
    <div class="div5"><h2>Beschreibung</h2>
        <p>Willkommen zu Pantcycling!<br>

            Hier werden Sie lernen aus Ihren alten<br>
            Hosen, neues zu schaffen. Couchkissen<br>
            aus Jeans, Taschen aus Chinos und<br>
            modische Shorts aus kaputten Hosen.<br>
            Nach Abschluss des Kurses sind Sie ein<br>
            richtiger Upcycling Profi und können das<br>
            Gelernte auch allein im Eigenheim<br>
            anwenden. Ich freue mich auf Sie!<br>

            Bitte mitbringen:<br>

            - drei alte Hosen<br>
        </p></div>
    <div class="div6"> <h3>Geeignet für</h3>
        <i class="bi bi-check"></i></div><p>Fortgeschrittene Upclycler<br>
    Nähenthusiasten<br>
    Modebegeisterte
</p>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Startseite</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css"
              integrity="sha256-2H3fkXt6FEmrReK448mDVGKb3WW2ZZw35gI7vqHOE4Y=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
              integrity="sha256-DU9iQBJ89dHP2iyusCg++0ych55DAx8QL6P8CYU64bI=" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <script type="text/javascript" src="../src/navBar.js"></script>
        <script type="text/javascript" src="../src/abmelden.js"></script>
        <link rel="stylesheet" href="../css/detailseite.css">

    </head>
    <body>
    <header>
        <!-- Navbar -->

        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logolein"> <a id="logo" class="navbar-brand" Type="button" type="click">RevertIt</a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <div class="wbtn">
                        <li class="nav-item">
                            <a id="workshopBttn" class="btn btn-primary btn-info" type="click" role="button">Workshop suchen</a>
                        </li></div>
                    <div class="wbtn2">
                        <li class="nav-item">
                            <a id="erstellenBttn" class="btn btn-primary btn-info" type="click" role="button">Workshop
                                erstellen</a>
                        </li></div>
                    <div class="wbtn3">
                        <li class="nav-item7">
                            <i id="warenkorbIcon" class="fas fa-shopping-cart fa-3x" style="color: #F5A741; margin-top: 70%" type="click" role="button"></i>
                        </li></div>
                    <div class="wbtn4" style="font-family: Arial">
                        <li class="nav-item5">
                            <i id="profilIcon" class="fas fa-user fa-3x" style="color: #F5A741" role="button"></i>
                        </li></div>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown1">
                <ul class="navbar-nav">
                    <div class="wbtn5">
                        <li class="nav-item2">
                            <a id="registerBttn" class="btn btn-primary btn-info" type="click" role="button" style="font-family: Arial">Registrieren</a>
                        </li></div>
                    <div class="wbtn6">
                        <li class="nav-item3">
                            <a id="anmeldenBttn" class="btn btn-primary btn-info" type="click" role="button">Anmelden</a>
                        </li></div>
                    <li class = "nav-item5">
                        <div id="profilname"></div>
                    </li>
                    <div class="wbtn7">
                        <li class="nav-item4">
                            <a id="abmeldenBttn" class="btn btn primary btn-info" type="click" role="button">Abmelden</a>
                        </li></div>
                </ul>
            </div>
        </div>
        </nav>
    </header>
    <h1>hosen upcycling</h1>
    <div class="parent">

        <div class="div1"><img src="Bilder/hosen%20upcycling.jpg" height="449" width="785"/></div>
        <div class="div2">
            <p>nächster verfügbarer Termin:<br>Montag 16.07.2021</p>
        </div>
        <div class="div3"> <button>Termin auswählen</button></div>
        <div class="div4"> <button>Eintrag bearbeiten</button></div>
        <div class="div5"><h2>Beschreibung</h2>
            <p>Willkommen zu Pantcycling!<br>

                Hier werden Sie lernen aus Ihren alten<br>
                Hosen, neues zu schaffen. Couchkissen<br>
                aus Jeans, Taschen aus Chinos und<br>
                modische Shorts aus kaputten Hosen.<br>
                Nach Abschluss des Kurses sind Sie ein<br>
                richtiger Upcycling Profi und können das<br>
                Gelernte auch allein im Eigenheim<br>
                anwenden. Ich freue mich auf Sie!<br>

                Bitte mitbringen:<br>

                - drei alte Hosen<br>
            </p></div>
        <div class="div6"> <h3>Geeignet für</h3>
            <i class="bi bi-check"></i></div><p>Fortgeschrittene Upclycler<br>
        Nähenthusiasten<br>
        Modebegeisterte
    </p>
        <h1>hosen upcycling</h1>
        <div class="angry-grid">
            <div id="item-0"></div>
            <div id="item-1">&nbsp;</div>
            <div id="item-2">&nbsp;</div>
            <div id="item-3">&nbsp;</div>
            <div id="item-4">&nbsp;</div>
            <div id="item-5"><img src="Bilder/hosen%20upcycling.jpg" height="449" width="785"/></div>
            <div id="item-6"> <button>Termin auswählen</button></div>
            <div id="item-7"> <button>Termin auswählen</button></div>
            <div id="item-8"><h2>Beschreibung</h2>
                <p>Willkommen zu Pantcycling!<br>

                    Hier werden Sie lernen aus Ihren alten<br>
                    Hosen, neues zu schaffen. Couchkissen<br>
                    aus Jeans, Taschen aus Chinos und<br>
                    modische Shorts aus kaputten Hosen.<br>
                    Nach Abschluss des Kurses sind Sie ein<br>
                    richtiger Upcycling Profi und können das<br>
                    Gelernte auch allein im Eigenheim<br>
                    anwenden. Ich freue mich auf Sie!<br>

                    Bitte mitbringen:<br>

                    - drei alte Hosen<br>
                </p></div>
            <div id="item-9">&nbsp;</div>
            <div id="item-10">&nbsp;</div>
            <div id="item-11">&nbsp;</div>
            <div id="item-12">&nbsp;</div>
            <div id="item-13">&nbsp;</div>
            <div id="item-14">&nbsp;</div>
        </div>

        <footer>
        <div class="row" id="impress" style="font-family: Arial">
            <div class="col-md-3"> <a href="impressum.html">Impressum</a> <br>FAQ</div>
            <div class="col-md-3">Datenschutz <br>Leitfaden für Supportanfragen</div>
            <div class="col-md-3" id="revlogo">RevertIt</div>
            <div class="col-md-3"><i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i></div>
        </div>
    </footer>
    </body>
    </html>
<footer>
    <div class="row" id="impress" style="font-family: Arial">
        <div class="col-md-3"> <a href="impressum.html">Impressum</a> <br>FAQ</div>
        <div class="col-md-3">Datenschutz <br>Leitfaden für Supportanfragen</div>
        <div class="col-md-3" id="revlogo">RevertIt</div>
        <div class="col-md-3"><i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i></div>
    </div>
</footer>
</body>
</html>